{% extends 'base.html.twig' %}
{% block body %}
<h1>hello word</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, autem beatae blanditiis consequuntur
    cumque dolor doloremque dolorum iste, minima nam non officia quas rem tempore ut vitae. Blanditiis dolorum eligendi
    enim impedit necessitatibus nesciunt officiis praesentium ut veniam vitae.</p>
<p>Accusamus aliquid atque distinctio,
    eligendi illum laborum libero nemo nesciunt perspiciatis provident quo reprehenderit similique voluptas. Ab
    accusantium aperiam consequuntur culpa dolor dolore eius error eum exercitationem harum, illo ipsa natus nobis odit
    officia porro quae quia quod repellat voluptate.</p>
{% endblock %}
